.homepage-colour {
    background-color: #302e2e;
}

.nav-white {
    color: #F0E9E9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 100%;
    margin-right: 5%;
}

.logo {
    margin-left: 5%;
}

.hero {
    color: #F0E9E9;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
    padding-right: 10%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width:830px) {
    .hero {
        display: none;
    }
}

.contact-content {
    padding-left: 80px;
    padding-right: 80px;
}

.contact-information {
    color: #F0E9E9;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.title {
    margin-bottom: 5px;
    font-size: 16px;
    color: #847B7B;
    font-weight: 500;
}

.description {
    margin-bottom: 70px;
    font-size: 20px;
    color: #F0E9E9;
    font-weight: 700;
}

.description-long {
    color: #F0E9E9;
    font-size: 16px;
    padding-right: 20px;
}

a {
    color: #F0E9E9;
}

.invite {
    position: relative
}
