.homepage-colour {
    background-color: black;
}

.nav-white-home {
    color: #302e2e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 100%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.logo {
    margin-left: 5%;
}

h1 {
    color: #F0E9E9;
    font-family: 'Abril Fatface', cursive;
    font-size: 33px;
}

a {
    text-decoration: none;
    color: #F0E9E9;
}

@media screen and (min-width:900px) {
    .work {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-white-home {
        margin-bottom: 80px;
    }
}

/* #product1hover {
    position: relative;
}
#product1hover:hover .overlay {
    opacity: 0.8;
}

#product2hover {
    position: relative;
}
#product2hover:hover .overlay {
    opacity: 0.8;
}

#product3hover {
    position: relative;
}
#product3hover:hover .overlay {
    opacity: 0.8;
}

#product4hover {
    position: relative;
}
#product4hover:hover .overlay {
    opacity: 0.8;
}

#product5hover {
    position: relative;
}
#product5hover:hover .overlay {
    opacity: 0.8;
}

#product6hover {
    position: relative;
}
#product6hover:hover .overlay {
    opacity: 0.8;
} */

/* .overlay {
    position: absolute;
    display: inline-block;
    background-color: black;
    height: auto;
    width: auto;
    opacity: 0;
} */

/* p {
    color: #F0E9E9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} */

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto',
    sans-serif;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}
